.about-page {
  height: 100%;
  width: 100%;
}

.about {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.about-head {
  font-size: 35px;
  margin-bottom: 1rem;
  text-decoration: underline;
}
