:host {
  --header-background-color: aqua;
}

.header-container {
  background-color: var(--header-background-color);
  padding: 1rem;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

li {
  margin-left: 1rem;
}
