<div class="header-container">
  <nav class="header-nav">
    <ul class="header-list">
      <li class="header-list-item">
        <div>
          <a>Home</a>
        </div>
      </li>
      <li class="header-list-item">
        <div>
          <a>About</a>
        </div>
      </li>
      <li class="header-list-item">
        <div>
          <a>Projects</a>
        </div>
      </li>
      <li class="header-list-item">
        <div>
          <a>Experience</a>
        </div>
      </li>
      <li class="header-list-item">
        <div>
          <a>Blog</a>
        </div>
      </li>
    </ul>
  </nav>
</div>
