<div class="header-container">
  <div>
    <nav class="header-nav">
      <ul class="header-list">
        <li class="header-list-item">
          <div>
            <a routerLink='/home' routerLinkActive="active">Home</a>
          </div>
        </li>
        <li class="header-list-item">
          <div>
            <a routerLink='/about' routerLinkActive="active">About</a>
          </div>
        </li>
        <li class="header-list-item">
          <div>
            <a routerLink='/projects' routerLinkActive="active">Projects</a>
          </div>
        </li>
        <li class="header-list-item">
          <div>
            <a routerLink='/experience' routerLinkActive="active">Experience</a>
          </div>
        </li>
        <li class="header-list-item">
          <div>
            <a routerLink='/blog' routerLinkActive="active">Blog</a>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</div>
