<mat-card class="project-card">

  <div mat-card-avatar class="proj-image" style="background-image: url('{{proj_image_url}}')"></div>

  <div class="proj-content">

    <div class="proj-title">
      <mat-card-title>{{title}}</mat-card-title>
    </div>

    <div>
      <mat-card-subtitle>
        <span class="stack-element" *ngFor="let stack of techStack">
          {{stack}}
        </span>
      </mat-card-subtitle>
    </div>

    <div class="proj-desc">
      <mat-card-content>
        <p>
          {{description}}
        </p>
      </mat-card-content>
    </div>

  </div>

</mat-card>
