.project-card {
    display: flex;
    flex-direction: row;
    height: 150px;
    margin-bottom: 1rem;
}

.proj-image {
    width: 10%;
    height: auto;
    margin: 1rem;
    background-size: cover;
}

.proj-content {
    margin: 1rem 2rem;
}

.proj-desc{
    height: 50%;
    overflow: hidden;
}

.stack-element {
    margin-right: 2rem;
}
