.exp-card {
  height: 550px;
  margin: 0rem .5rem .5rem 0rem;
  justify-content: space-between;
}

.avatar-image-div {
  width: 20%;
}

.post-image {
  height: 50%;
}

.blog-header-image {
  background-size: cover;
  height: 100%;
  width: 100%;
}

.exp-content {
  overflow: hidden;
}

.card-titles {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 1rem;
}

.mat-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.exp-subtitle {
  display: flex;
  justify-content: space-between;
}
