<mat-card class="experience-card">

  <mat-card-header class="exp-card-header">
    <div class="avatar-image-div">
      <div mat-card-avatar class="exp-header-image" style="background-image: url('{{comp_badge_url}}')"></div>
    </div>
    <div class="card-titles">
      <mat-card-title>{{title}}</mat-card-title>

      <div class="exp-subtitle">
        <mat-card-subtitle>{{org}}</mat-card-subtitle>
        <mat-card-subtitle>{{year}}</mat-card-subtitle>
      </div>
    </div>
  </mat-card-header>

  <mat-card-content class="exp-content">
    <p>
      {{work}}
    </p>
  </mat-card-content>

  <mat-card-actions class="card-buttons">
    <button mat-raised-button>LIKE</button>
    <button mat-raised-button>SHARE</button>
  </mat-card-actions>

</mat-card>
